<div class="menus-container">
    <h3 class="menu-header">Order Now</h3>
    <mat-card class="menu" *ngFor="let menu of hotel.menu">
        <mat-card-header>
            <mat-card-title>{{menu.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p>
            {{menu.desc}}
        </p>
        </mat-card-content>
        <mat-card-actions>
            <span>{{'\u20B9'}} {{menu.price}}</span>
            <button mat-raised-button class="order" (click)="addToMyCart(menu)">
                Add to Cart
            </button>
        </mat-card-actions>
    </mat-card>
</div>
